.group-space {
  display: flex;
  justify-content: space-between;
}

.responsive {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.bg-colordark {
  background-color: #64b18a !important;
}

.bg-colorlight {
  background-color: #e5fcf0;
}

.bg-colorlight-grey {
  background-color: #64b18a !important;
  border-radius: 10px;
}

.button-color {
  background-color: #76c79d !important;
  border-color: #64b18a !important;
}

.text-green {
  color: #7eb499;
}

.text-gold {
  color: #f1d67d !important;
}

.text-gold-lighter {
  color: #ecce69ab;
}

.border-green {
  border-color: #79d4a7 !important;
}
