.group-space {
  display: flex;
  justify-content: space-between;
}

.responsive {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
}

.bg-darkgreen {
  background-color: #2d6a4f !important;
}
